*.db-shm
*.db-wal
*.o
*.d
*.vmps
*.vmps.xml
*.vcxproj.filters
*.vcxproj.user
*.vs
*.elf
.travis.yml
.pioenvs
.piolibdeps
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.ipch
.pio
.pio/*